<section>
    <div>
        <img class="picture_why_me" src="../../../assets/pictures/why_me_pic.jpg" alt="">
        <div class="content">
            <div class="header_div">
<h2 class="font">{{ t('TITLE') }}</h2>

            </div>
           <p>{{ t('DESCRIPTION') }}</p>

            <img class="arrow_responsive" src="../../../assets/arrows/arrow_curve_down.png" alt=""
                style="display: none;">
            <div class="location_div">
                <div class="located_in">
                    <h3 class="font" style="font-size: 48px;">{{ t('I_AM') }}</h3>
                    <div>
                        <div class="maps">
                            <img class="original" src="../../../assets/icons/Maps.png" alt="Maps">
                            <img class="hover_img" src="../../../assets/hover/marker-hover.png" alt="Hover">
                        </div>
                        <div class="location_width">
                            <span>{{ t('LOCATED_IN') }}</span>
                            <span>Hohenau</span>
                        </div>
                    </div>

                </div>
                <div class="why_me_logos_relocate">

                    <div class="icon_relocate">
                        <img class="arrow_down_relocate" src="../../assets/arrows/arrow_curve_down.png" alt="">
                        <div class="relocate_div">
                            <img class="icon relocate" src="../../assets/icons/Case.png" alt="">
                            <span>{{ t('OPEN_TO_RELOCATE') }}</span>
                        </div>

                    </div>
                    <div class="remote_div">
                        <div class="remote_section">
                            <div class="icon_remote"></div>
                            <div class="remote_text">
                                <span class="open_to">{{ t('OPEN_TO_WORK_REMOTE') }}</span>
                            </div>
                            <div class="remote_arrows">
                                <img class="arrow_up_remote" src="../../assets/arrows/arrow_curve_up.png" alt="">
                                <img class="arrow_loop_remote" src="../../assets/arrows/arrow_loop-down.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="arrow_responsive_div">
                    <img class="arrow_responsive" src="../../../assets/arrows/arrow_responsive.png" alt=""
                        style="display: none;">

                </div>
                <div class="button_bottom">
                    <a href="#contact" class="button_green">{{ t('LETS_TALK') }}</a>
                </div>
            </div>




        </div>

    </div>
</section>