* {
    margin: 0;
}

.font {
    font-family: 'RobotMonoMedium';
    color: #E15544;
}


span {
    font-family: 'RobotMonoMedium';
    color: #02F4BF;
}

p {
    font-family: 'RobotMonoMedium';
    color: #02F4BF;
    padding-left: 42px;
    padding-top: 20px;
    text-align: right;

}

section {
  background: linear-gradient(to bottom, #0b042d, #180963);
    height: 452px;
    padding-left: 105px;
    padding-bottom: 80px;

    >div {
        width: 1224px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

}

.content {
    width: 729px;

}

.picture_why_me {
    width: 488px;
    height: 452px;


}


.header_div {
    padding-left: 206px;

    >h3 {
        display: flex;
        justify-content: flex-end;
    }
}


.location_div {
    width: 568px;
    height: 186px;
    padding-top: 10px;
    padding-left: 159px;
    display: flex;
    gap: 8px;
    flex-direction: column;

    >div {
        display: flex;

        >div {
            >div {
                >span {
                    padding-left: 15px;
                }
            }


        }
    }

}

.location_width {
                width: 192px;

}

.located_in {

    display: flex;
    gap: 64px;

    >div {
        display: flex;
        align-items: center;


    }
}

.relocate_div {
    display: flex;
    align-items: center;
    width: 130px;
    padding-right: 60px;




    >img {
        padding-right: 15px;
    }
}

.icon_relocate {
    display: flex;
    justify-content: flex-end;
    gap: 208px;
}

.remote_div {
    height: 58px;
    justify-content: space-between;
    padding-left: 168px;
    gap: 100px;


}

.remote_text {
    width: 125px;
    height: 42px;
          text-align: left;


}

.open_to {
        padding-left: 15px;
    }

.remote_section {
    display: flex;
    align-items: center;
    gap: 10px;

  
}

.icon_remote {
    width: 53px;
    height: 47px;


}


.arrow_remote {
    display: flex;
    gap: 90px;
}


.button_bottom {
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
    padding-left: 352px;
    margin-top: 15px;



}

.arrow_down_relocate {
    width: 22px;
    height: 56px;
    border-width: 3px;
}

.arrow_up_remote {
    width: 24pxs;
    height: 40px;
    border-width: 3px;

}

.arrow_loop_remote {
    width: 27px;
    height: 56px;
    border-width: 3px;

}



.icon {
    width: 33px;
    height: 41px;
    top: 8px;

}

