section {
    height: 1241px;
    background-color: #150859;

    >div {
        width: 1178px;
        position: absolute;
        top: 1971px;
        left: 131px;
    }
}

h4 {
font-family: 'RobotMonoMedium';
font-weight: 700;
font-style: bold;
font-size: 48px;
line-height: 120%;
letter-spacing: 0%;
color: #02F4BF;
}

span {
    color: #02F4BF;
font-family: 'RobotMonoMedium';
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0%;

}