<section>
  <div>
    <div>
      <a href="#contact" class="button_above animate_rotate">
        {{ langService.translate('CONTACT_ME') }}
      </a>
    </div>

    <div>
      <a href="#why_me" class="animate_left">
        <img class="arrow_down" src="../../assets/arrows/arrow_down.png" alt="">
      </a>
    </div>

    <div class="content">
      <div class="headers animate_left">
        <h2 class="font job">{{ langService.translate('HERO_JOB') }}</h2>
        <h2 class="font name">{{ langService.translate('HERO_NAME') }}</h2>
      </div>

      <div class="hero animate_right">
        <img class="hero_shot" src="../../assets/pictures/hero_bild.png" alt="HeroShot">
      </div>
    </div>
  </div>
</section>
