@media (max-width: 1300px) {

  .content {
    gap: 100px;

  }
}


@media (max-width: 1300px) {


  .content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-right: 0;
  }

  .hero {
    order: -1;
    width: auto;
    display: flex;
    justify-content: center;
    padding-right: 0;
  }

  h2 {
    padding: 0;
  }

  .headers {
    text-align: center;
    margin-top: 0;
    width: auto;
  }

  .button_above {
    display: none;
  }


  .arrow_down {
    display: none;
  }
}


@media (max-width: 650px) {
  section {
    min-height: 0;
    height: auto;
  }

  .job {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .name {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  .hero_shot {
    width: 318px;
    height: 300px;


  }

}

@media (max-width: 350px) {


  .hero_shot {
    width: 288px;
    height: 270px;


  }

}