$pad: 30px;
$max-inner: 1224px;


.font {
    font-family: 'RobotMonoMedium';
    color: #02F4BF;
    font-size: 54px;
}


.name {
    font-weight: 700;
    font-style: Bold;
    font-size: 82px;
    line-height: 120%;
    letter-spacing: 0%;

}

.button_above {
  position: relative;  
  right: 250px;
  top: 150px;  
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  padding: 10px 20px;   
  min-height: 52px;      
  min-width: 169px;      
  margin-left: 200px;
  transform: rotate(270deg);
  gap: 10px;
  font-family: 'RobotMonoMedium';
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 120%;
  color: #E15544;
  background: transparent;
  border: 1px solid #02F4BF;
  box-sizing: border-box;
  text-decoration: none;

  &:hover {
    color: #02F4BF;
    cursor: pointer;
  }
   &:focus {
  border-color: #E15544;
}
}


.container {
    width: 100%;
    max-width: $max-inner;
    margin: 0 auto;
    padding: 0 $pad;
    box-sizing: border-box;
}


section {
    background-color: #0b042d;
    height: 556px;
    min-height: 100vh;
    display: flex;
            align-items: center;

    >div {
    background-color: #0b042d;
        @extend .container;
        margin-bottom: 200px;

    }

}

.content {
  display: flex;
    gap: 70px;

}

.headers {
    height: 142px;
    margin-top: 370px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  white-space: nowrap; 

}


.job {
    font-weight: 500;
    font-style: Medium;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0%;

}

.arrow_down {
    width: 22px;
    height: 50px;
    position: absolute;
    top: 336px;
    left: 995px;
    transform: rotate(180) deg;
    opacity: 1;

    &:hover {
        cursor: pointer;
        background-image: url('../../../assets/hover/arrow-down-hover.png');
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #02F4BF;
        padding: 10px;
        box-sizing: border-box;
        width: 22px;
        height: 55px;


    }

}


.hero {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
 }


.hero_shot {
  max-width: 539px;
  max-height: 554px;
  height: 100%;

      
 }


.animate_left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.animate_left.in-view {
  opacity: 1;
  transform: translateX(0); 
}

.animate_right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-out;
}

.animate_right.in-view {
  opacity: 1;
  transform: translateX(0);
}

.button_above.animate_rotate {
  opacity: 0;
  transform: translateX(-50px) rotate(270deg); 
  transition: all 0.8s ease-out;
}

.button_above.animate_rotate.in-view {
  opacity: 1;
  transform: translateX(0) rotate(270deg); 
}

 