.font {
    font-family: 'RobotMonoMedium';
    color: #02F4BF;
    font-size: 54px;
}

h2 {
    padding-left: 105px;
}

.name {
    font-size: 82px;
    font-weight: 700;
    width: 690px;
}

button {
    width: 169px;
    height: 52px;
   margin-top: 117px;
    margin-left: 50px;
    transform: rotate(270deg);
    opacity: 1;
    gap: 10px;
    font-family: 'RobotMonoMedium';
    color: #E15544;
    background: transparent;
    border: 1px solid #02F4BF;
    box-sizing: border-box;

    &:hover {
        color: #02F4BF;
        cursor: pointer;
    }
}

section {
    background-color: #0b042d;
    height: 556px;
    min-height: 100vh;


    >div {
        width: 1284px;
        height: 554px;
        position: absolute;
        top: 2px;
        left: -53px;
        opacity: 1;

    }


}

.headers {
    position: relative;
    width: 808px;
    height: 142px;
    top: 472px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.arrow_down {
    width: 22px;
    height: 50px;
    position: absolute;
    top: 256px;
    left: 647px;
    transform: rotate(180) deg;
    opacity: 1;

    &:hover {
        filter: invert(56%) sepia(91%) saturate(370%) hue-rotate(139deg) brightness(95%) contrast(90%);
        cursor: pointer;
        border: 1px solid #02F4BF;
        padding: 2px;
        box-sizing: border-box;

    }

}

.hero_shot {
    height: 554px;
    width: 539px;
    padding-left: 796px;
    padding-right: 30px;
    margin-bottom: 100px;
}