<section>
  <div>
    <div>
      <a href="#contact" class="button_above">{{ langService.translate('CONTACT_ME') }}</a>
    </div>
    <div>
      <a href="#why_me">
        <img class="arrow_down" src="../../assets/arrows/arrow_down.png" alt="">
      </a>
    </div>


    <div class="content">
      <div class="headers">
        <h2 class="font job">{{ langService.translate('HERO_JOB') }}</h2>
        <h2 class="font name">{{ langService.translate('HERO_NAME') }}</h2>
      </div>
      <div class="hero">
        <img class="hero_shot" src="../../assets/pictures/pic.png" alt="HeroShot">
      </div>
    </div>
  </div>
</section>