.font {
    font-family: 'RobotMonoMedium';
    color: #02F4BF;
    font-size: 54px;
}

h2 {
    padding-left: 105px;
}

.name {
    font-weight: 700;
    font-style: Bold;
    font-size: 82px;
    line-height: 120%;
    letter-spacing: 0%;

}

button {
    width: 169px;
    height: 52px;
    margin-top: 157px;
    margin-left: 50px;
    transform: rotate(270deg);
    opacity: 1;
    gap: 10px;
    font-family: 'RobotMonoMedium';
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #E15544;
    background: transparent;
    border: 1px solid #02F4BF;
    box-sizing: border-box;

    &:hover {
        color: #02F4BF;
        cursor: pointer;
    }
}

section {
    background-color: #0b042d;
    height: 556px;
    min-height: 100vh;


    >div {
        width: 1284px;
        height: 554px;
        position: absolute;
        top: 2px;
        left: -53px;
        opacity: 1;

    }


}

.headers {
    position: relative;
    width: 808px;
    height: 142px;
    top: 472px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}


.job {
    font-weight: 500;
    font-style: Medium;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0%;

}

.arrow_down {
    width: 22px;
    height: 50px;
    position: absolute;
    top: 336px;
    left: 715px;
    transform: rotate(180) deg;
    opacity: 1;

    &:hover {
        cursor: pointer;
        background-image: url('../../../assets/hover/arrow-down-hover.png');
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #02F4BF;
        padding: 10px;
        box-sizing: border-box;
        width: 22px;
        height: 55px;


    }

}

.hero_shot {
    height: 554px;
    width: 539px;
    padding-left: 886px;
    padding-right: 30px;
    margin-bottom: 100px;
}