.font {
  font-family: 'RobotMonoMedium';
  color: #E15544;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);
  padding: 0 100px;

  >div:first-child {
    display: flex;
    align-items: center;
    gap: 48px;
    padding-left: 0;
    flex-wrap: wrap;

    >img {
      width: 92px;
      height: 44px;
      max-width: 25%;
    }

    >a {
      font-size: 22px;
      text-decoration: none;
      scroll-behavior: smooth;

      &:hover {
        cursor: pointer;
        color: #02F4BF;
      }

      &:focus {
        text-decoration: underline;
        color: #02F4BF;
      }
    }
  }

  >div:last-child {
    padding-right: 0;

    >p {
      font-size: 18px;

      span:hover {
        cursor: pointer;
        color: #02F4BF;
      }
    }
  }

  a:target {
    text-decoration: underline;
    color: #02F4BF;
  }

  @media (max-width: 700px) {
    .font {
      display: none;
    }

    .menu_icon {
      display: flex !important;
      padding-right: 20px;
    }
  }

  @media (min-width: 421px) and (max-width: 889px) {
      padding: 0 15px;


    >div:first-child {
      gap: 24px;

      >img {
        width: 75px;
        height: auto;
      }

      >a {
        font-size: 16px;
      }
    }

    >div:last-child {
      >p {
        font-size: 14px;
      }
    }
  }

  @media (min-width: 889px) and (max-width: 1160px) {
      padding: 0 50px;


    >div:first-child {
      gap: 36px;

      >img {
        width: 85px;
        height: auto;
      }

      >a {
        font-size: 18px;
      }
    }

    >div:last-child {
      >p {
        font-size: 16px;
      }
    }
  }
}