$pad: 30px;
$max-inner: 1224px;

.container {
  width: 100%;
  max-width: $max-inner;
  margin: 0 auto;
  padding: 0 $pad;
  box-sizing: border-box;
}


.font {
  font-family: 'RobotMonoMedium';
  color: #E15544;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);

  >div {
    display: flex;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
    @extend .container;


    >img {
      width: 92px;
      height: 44px;
      max-width: 25%;
    }

    >a {
      font-size: 22px;
      text-decoration: none;
      scroll-behavior: smooth;

      &:hover {
        cursor: pointer;
        color: #02F4BF;
      }

      &:focus {
        text-decoration: underline;
        color: #02F4BF;
      }
    }
  }


  .language {
margin-left: auto;
  }
  >div:last-child {

    >p {
      font-size: 18px;

      span:hover {
        cursor: pointer;
        color: #02F4BF;
      }
    }
  }

  a:target {
    text-decoration: underline;
    color: #02F4BF;
  }

  @media (max-width: 850px) {
    .font {
      display: none;
    }

    .menu_icon {
      display: flex !important;
      position: absolute;
      right: 30px;
      top: 50%;
    transform: translateY(-50%);
    }



  }

  @media (min-width: 421px) and (max-width: 889px) {


    >div:first-child {
      >img {
        width: 75px;
        height: auto;
      }

      >a {
        font-size: 16px;
      }
    }

    >div:last-child {
      >p {
        font-size: 14px;
      }
    }
  }

  @media (min-width: 889px) and (max-width: 1160px) {


    >div:first-child {
      gap: 36px;

      >img {
        width: 85px;
        height: auto;
      }

      >a {
        font-size: 18px;
      }
    }

    >div:last-child {
      >p {
        font-size: 16px;
      }
    }
  }
}