<header>
  <div>
 <a (click)="goTo('')">
    <img class="logo" src="../../../assets/logos/fertig_logo.png" alt="logo">
</a>

   <a (click)="goToSection('why_me')" class="font">{{ t('NAV_WHY_ME') }}</a>
    <a (click)="goToSection('skills')" class="font">{{ t('NAV_SKILLS') }}</a>
    <a (click)="goToSection('projects')" class="font">{{ t('NAV_PROJECTS') }}</a>
    <a (click)="goToSection('contact')" class="font">{{ t('NAV_CONTACT') }}</a>

    <div class="language">
      <p class="font">
        <span (click)="switchLang('de')">DE</span> |
        <span (click)="switchLang('en')">EN</span>
      </p>
      <img class="menu_icon" src="../../../assets/logos/burger menu.png" alt="" style="display: none;"
        (click)="toggleMenu()">
    </div>
    <div class="mobile-menu" *ngIf="isMenuOpen">
      <img src="../../../assets/icons/close.png" alt="" (click)="closeMenu()">
      <div>
         <a (click)="goToSection('why_me')" class="font_responsive">{{ t('NAV_WHY_ME') }}</a>
    <a (click)="goToSection('skills')" class="font_responsive">{{ t('NAV_SKILLS') }}</a>
    <a (click)="goToSection('projects')" class="font_responsive">{{ t('NAV_PROJECTS') }}</a>
    <a (click)="goToSection('contact')" class="font_responsive">{{ t('NAV_CONTACT') }}</a>
        <div>
          <p class="font_responsive">
            <span (click)="switchLang('de')">DE</span> |
            <span (click)="switchLang('en')">EN</span>
          </p>
        </div>
      </div>
    </div>
  </div>


</header>