<section>
    <div>
        <img class="picture_why_me" src="../../assets/pictures/Why me.png" alt="">
        <div class="content">
            <div class="header_div">
                <h3 class="font" style="font-size: 54px;">Why me</h3>

            </div>
            <p>Write some information about yourself that is IT related. Why are you passionate about coding? Highlight
                your motivation for professional growth and continuous learning. Emphasise your strong problem-solving
                skills and passion for coding.
            </p>
            <div class="location_div">
                <div class="located_in">
                    <h3 class="font" style="font-size: 48px;">I am</h3>
                    <div>
                        <img class="icon" src="../../assets/icons/Maps.png" alt="">
                        <div class="location_width">
                            <span>located in </span>
                            <span>Hohenau</span>
                        </div>
                    </div>

                </div>
                <div class="icon_relocate">
                    <img class="arrow_down_relocate" src="../../assets/arrows/arrow_curve_down.png" alt="">
                    <div class="relocate_div">
                        <img class="icon" src="../../assets/icons/Case.png" alt="">
                        <span>open to relocate</span>
                    </div>

                </div>
                <div class="remote_div">
                    <div class="remote_section">
                        <img class="icon_remote" src="../../assets/icons/Remote.png" alt="">
                        <div class="remote_text">
                            <span class="open_to">open to work remote </span>
                        </div>
                        <img class="arrow_up_remote" src="../../assets/arrows/arrow_curve_up.png" alt="">
                    </div>
                    <img class="arrow_loop_remote" src="../../assets/arrows/arrow_loop-down.png" alt="">
                </div>
                <div class="button_bottom">
                    <button class="button_green">Let´s talk</button>
                </div>
            </div>




        </div>

    </div>
</section>