<section>
    <h3>Why me</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorem error aliquam inventore excepturi optio
        quaerat neque amet eum blanditiis, sunt repudiandae fugit, deleniti, iste eveniet. Omnis dolorem quisquam
        architecto?</p>
    <div>
        <h3>I am</h3>
        <div>
            <span>located in</span>
            <img src="../../assets/icons/Maps.png" alt="">
        </div>
        <img src="../../assets/arrows/arrow_curve_down.png" alt="">
        <div>
            <span>open to relocate</span>
            <img src="../../assets/icons/Case.png" alt="">
        </div>
        <img src="../../assets/arrows/arrow_curve_up.png" alt="">
        <div>
            <span>open to remote</span>
            <img src="../../assets/icons/Remote.png" alt="">
        </div>
        <img src="../../assets/arrows/arrow_loop-down.png" alt="">
        <button>Let´s talk</button>


    </div>


</section>