<section>
    <div>
        <h2>Contact me</h2>
        <img src="../../assets/arrows/arrow_curve_down.png" alt="">
        <span>Encourage people to contact you and describe what role you are interested in. Express interest in
            contributing to a new project.</span>
        <div>
            <img src="../../assets/icons/Email.png" alt="">
            <p>E-mail: oliverplit2005gmail.com</p>
            <img src="../../assets/icons/Phone.png" alt="">
            <p>Tel: +49 1575 4343 52452</p>
        </div>
    </div>
    <img src="../../assets/arrows/arrow_up.png" alt="">
    <div>
        <input name="Your Name" type="text">
        <input name="Your Email" type="text">
        <textarea name="Your Message" id=""></textarea>
    </div>
    <label>
        <input type="checkbox" />
        I've read the <a href="">privacy policy</a>and agree to the processing of my data as outlined.
    </label>
    <button>Send</button>
</section>