section {
    background: linear-gradient(to bottom, #120848, #190a60);
}

@mixin flex-between {
    display: flex;
}

@mixin input_style {
    color: #02F4BF;
    border: 1.5px solid;
    border-color: #02F4BF;
    font-family: 'RobotMonoMedium';
    width: 507px;
    height: 56px;
    background: transparent;

    &::placeholder {
        color: #02F4BF;
        font-family: 'RobotMonoMedium';

    }
}

.font {
    font-family: 'RobotMonoMedium';
    color: #02F4BF;
}

.firstcontainer {
    padding-left: 132px;

    >div {
        @include flex-between;
        gap: 50px;

    }
}

.email .icon,
.phone .icon {
    width: 28px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.email .icon {
    background-image: url('../../../assets/icons/Email.png');

    &:hover {
        background-image: url('../../../assets/hover/mail-hover.png');
    }
}

.phone .icon {
    background-image: url('../../../assets/icons/Phone.png');

    &:hover {
        background-image: url('../../../assets/hover/phone-hover.png');
    }
}


.arrow_top {
    width: 82px;
    height: auto;
    margin-top: 20px;
    border-width: 3px;

}

.div_contact {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .contact_sections {
        @include flex-between;
        gap: 10px;

        >img {
            width: 28px;
            height: 30px;

        }
    }
}


.text_contact {
    width: 504px;
    margin-top: 10px;
}

.arrow_down {
    margin-left: auto;
    margin-right: 200px;
    width: 22px;
    height: 50px;
    background: url('../../../assets/arrows/arrow_up.png') no-repeat center;
    background-size: contain;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid transparent;
    transition: border-color .25s ease, background-image .25s ease;

    &:hover {
        cursor: pointer;
        background-image: url('../../../assets/hover/arrow-up-hover.png');
        outline: 1px solid #02F4BF;
    }
}


.inputs {
    display: flex;
    gap: 40px;
    height: 144px;
    margin-top: 10px;


    >div {
        display: flex;
        flex-direction: column;
        gap: 40px;

        >input  {
            @include input_style();

            &:hover {
                cursor: pointer;
            }

        }

    }


    >textarea  {
        color: #02F4BF;
        border: 1.5px solid;
        border-color: #02F4BF;
        font-family: 'RobotMonoMedium';
       max-width: 637px;
       padding-right: 20px;
        width: 100%;
        height: 144px;
        background: transparent;
        padding-right: 30px;

        &::placeholder {
            color: #02F4BF;
            font-family: 'RobotMonoMedium';

        }

        &:hover {
            cursor: pointer;
        }
    }
}

.last_section {
    font-family: 'RobotMonoMedium';
    color: #02F4BF;

    width: auto;
    height: 74px;
    margin-top: 50px;

    >div {
        display: flex;
        width: 100%;
        max-width: 1200px;
        justify-content: end;
    }

    >label {
        >input {
            border: 1px #02F4BF solid;
        }
    }
}

a {
    text-decoration: none;
    color: #E15544;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;

    &:hover {
        font-weight: 700;
        font-style: Bold;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0%;
    }
}

button  {
    width: 104px;
    height: 52px;
    font-family: 'RobotMonoMedium';
    color: #827B7B;
    display: flex;
    gap: 10px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    background-color: transparent;
    border: 1px solid #827B7B;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;



}