@media (max-width: 1350px) {
    .inputs {
        >textarea {
            margin-right: 30px;
        }
    }

    .last_section {
        >div {
            >button {
                margin-right: 30px;
                margin-top: 20px;
            }
        }
    }

    .arrow_down {
        margin-right: 30px;
    }
}



@media (max-width: 1050px) {



    .arrow_top {
        display: none;
    }

    .firstcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        >div:nth-child(2) {
            display: contents;
        }

        .text_contact {
            width: 100%;
            max-width: calc(100% - 40px);
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            .inputs {
                order: 1;
                align-items: center;
                flex-direction: column;
                height: auto;
                width: 100%;
                box-sizing: border-box;

                >div {
                    >input {
                        max-width: 507px;
                        box-sizing: border-box;
                    }
                }

                >textarea {
                    width: 480px;
                    margin-right: 0px;
                }
            }

            .last_section {
                order: 2;
                display: flex;
                flex-direction: column;

                >div {
                    margin-top: 20px;
                    display: flex;
                    height: auto;
                    justify-content: center;
                    padding-right: 0;
                    margin-bottom: 20px;
                }
            }
        }

        .div_contact {
            order: 3;
            margin-top: 120px;
        }

        >div {
            flex-direction: column;
            height: auto;
        }
    }

    .arrow_down {
        display: none;
    }

    .error_message {

        margin-left: 100px;

    }

}

@media (max-width: 700px) {

    .firstcontainer {
        div {
            gap: 25px;
        }
    }

    .contact_sections {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon {
        display: flex;
        justify-content: center;
    }


    .responsive_arrow {
        display: flex !important;
        justify-content: end !important;

        >img {
            padding-left: 30px;

        }
    }

    span {
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;

    }

    .label_email {
        display: none;
    }
}


@media (max-width: 570px) {
    h2 {
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0%;

    }

    form {
        .inputs {
            >textarea {
                width: auto !important;
            }

            >div {
                >input {
                    width: auto;
                    box-sizing: border-box;
                }
            }
        }
    }


    .last_section {
        >div {
            >button {
                margin-right: 0px;
                margin-top: 0px;
                margin-bottom: 30px;
            }
        }
    }

    .inputs>div .error_name {
        bottom: 90px;
        left: 70px;
        right: 0;
    }


    .inputs>div .error_email {
        left: 70px;
        right: 0;

    }

    .button_section {
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .error_message {
        margin-left: 0px;
  word-break: break-word;

    }

.inputs > div .error_email {
  position: absolute;
  bottom: -20px;      
  left: auto;
  right: 50px;        
 
}


.inputs > div .error_name {
  position: absolute;
  bottom: 65px;      
  left: auto;
  right: 0px;   
  
}
}