<section>
    <div class="firstcontainer">
        <div>
            <h2>Contact me</h2>
            <img class="arrow_top" src="../../assets/arrows/arrow_contact.png" alt="">
        </div>

        <div>
            <div class="text_contact">
                <span class="font">Encourage people to contact you and describe what role you are interested in. Express
                    interest in
                    contributing to a new project.</span>
            </div>

            <div class="div_contact">
                <div class="contact_sections email">
                    <div class="icon"></div>
                    <p class="font">E-mail: oliverplit2005gmail.com</p>
                </div>
                <div class="contact_sections phone">
                    <div class="icon"></div>
                    <p class="font">Tel: +49 1575 4343 52452</p>
                </div>
            </div>
        </div>
    </div>
    <img class="arrow_down" src="../../assets/arrows/arrow_up.png" alt="">

    <div class="inputs">
        <div>
            <input name="Your Name" type="text" placeholder="Your Name">
            <input name="Your Email" type="text" placeholder="Your Email">
        </div>
        <textarea name="Your Message" id="" placeholder="Your Message"></textarea>
    </div>
    <div class="last_section">
        <label>
            <input type="checkbox" />
            I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.
        </label>
        <button>Send</button>
    </div>

</section>