$pad: 30px;
$max-inner: 1224px;


.container {
    width: 100%;
    max-width: $max-inner;
    margin: 0 auto;
    padding: 0 $pad;
    box-sizing: border-box;
}




section {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #1e0a7d;

    >div {
        @extend .container;
        width: 1439px;
        padding-bottom: 20px;


        text-align: left;
    }


}

h1 {
    margin-bottom: 30px;
}



h3 {
    font-family: 'RobotMonoMedium';
    font-weight: 700;
    font-style: Bold;
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #E15544;
    margin: 20px;


}

p {
    font-family: 'RobotMonoMedium';
    font-weight: 700;
    font-style: Bold;
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3DCFB6;

}

@media (max-width: 600px) {

    section {
        div {
            padding: 30px;
        }
    }

    h1 {
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0%;

    }

    h2 {
        font-weight: 700;
        font-style: Bold;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0%;

    }

    h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;

    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;

    }
}