section {
    background: linear-gradient(to bottom, #1c0a73, #0d0536);
    display: flex;
    align-items: center;
    flex-direction: column;

    >div {
        width: 100%;
        max-width: 1178px;
        display: flex;
        gap: 40px;
        margin-bottom: 80px;
        padding: 30px;

        >img {
            z-index: 3;
            width: 100%;
            max-width: 588px;
            height: 371px;
            filter: brightness(90%);

            &:hover {
                filter: brightness(100%);

            }

        }
    }
}

h2 {
    margin-bottom: 80px;
}

h4 {
    font-family: 'RobotMonoMedium';
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #02F4BF;
    margin-bottom: 30px;
}

span {
    color: #02F4BF;
    font-family: 'RobotMonoMedium';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;

}

.subheader {
    margin-bottom: 50px;
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;
}


.project.reverse .buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons {
    margin-top: 50px;
    display: flex;
    gap: 24px;

}



.button_git {
    width: 169px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'RobotMonoMedium';
    color: #E15544;
    background: transparent;
    text-decoration: none;
    border: 1px solid #02F4BF;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    transition: color 0.6s ease;

    &:hover {
        color: #02F4BF;
        cursor: pointer;
    }

   


    .button_git:hover span {
        transform: scale(1.08) translateY(-2px);
    }

    .button_git:active {
        border-color: #E15544;
    }
}