* {
    background-color: #1b0a6e;
}




h2 {
    font-family: 'RobotMonoMedium';
      color: #E15544;
      font-size: 54px;
      padding-left: 111px;

}


section {
height: 423px;

>div {
     display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px;
width: 1219px;
height: 325px;
padding-top: 98px;
padding-left: 111.5px;
opacity: 1;
gap: 100px;

>img {
    width: 88px;
    height: 100px;
}
}

}