<section>
    <h2>My Skills</h2>
    <div>
        <div>
            <img src="../../assets/logos/Angular.png" alt="">
            <p>Angular</p>
        </div>
        <div>
            <img src="../../assets/logos/TypeScript.png" alt="">
            <p>TypeScript</p>
        </div>
        <div>
            <img src="../../assets/logos/JavaScript.png" alt="">
            <p>TypeScript</p>
        </div>
        <div>
            <img src="../../assets/logos/HTML.png" alt="">
            <p>HTML</p>
        </div>
        <div>

            <img src="../../assets/logos/CSS.png" alt="">
            <p>CSS</p>
        </div>
        <div>
            <img src="../../assets/logos/API.png" alt="">
            REST-API
        </div>
        <div>
            <img src="../../assets/logos/Firebase_small.png" alt="">
            <p>Firebase</p>
        </div>
        <div>
            <img src="../../assets/logos/Git.png" alt="">
            <p>Git</p>
        </div>
        <div>

            <img src="../../assets/logos/Scrum.png" alt="">
            <p>Scrum</p>
        </div>
        <div>
            <img src="../../assets/logos/Materialdesign.png" alt="">
            <p>Material design</p>
        </div>
        <div>
            <img src="../../assets/logos/Challenge.png" alt="">
            <p>Challenge me</p>
        </div>
    </div>
</section>