<section>
    <h2>My Skills</h2>
    <div>
        <img src="../../assets/logos/Angular.png" alt="">
        <img src="../../assets/logos/TypeScript.png" alt="">
        <img src="../../assets/logos/JavaScript.png" alt="">
        <img src="../../assets/logos/HTML.png" alt="">
        <img src="../../assets/logos/CSS.png" alt="">
        <img src="../../assets/logos/API.png" alt="">
        <img src="../../assets/logos/Firebase_small.png" alt="">
        <img src="../../assets/logos/Git.png" alt="">
        <img src="../../assets/logos/Scrum.png" alt="">
        <img src="../../assets/logos/Materialdesign.png" alt="">
 <div class="img-hover-text">
      <img src="../../assets/logos/Challenge.png" alt="Challenge">
    </div>
    </div>
</section>