h2 {
  font-family: 'RobotMonoMedium';
  color: #E15544;
  font-size: 54px;
  padding-left: 111px;

}


section {
  background: linear-gradient(to bottom, #180961, #1c0a73);
  height: auto;
  max-height: 100%;
  padding-top: 50px;
padding-bottom: 120px;
  box-sizing: border-box;

  >div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 60px;
    align-items: center;
    max-width: 1275px;
    padding: 30px 105px 0px 105px;
    margin: 0 auto;

  }

}


.button_green {
      padding-top: 10px;
    padding-right: 15px;
    padding-bottom:10px;
    padding-left: 15px;
}
.img-hover-text {
  position: relative;
  display: inline-block;

  .hover-text {
    position: absolute;
    top: 50%;
    width: 253px;
    padding-left: 20px;
    transform: translateY(-50%);
    color: #02F4BF;
    font-family: 'RobotMonoMedium';
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }

  &:hover .hover-text {
    opacity: 1;
  }
}

