@media (max-width: 820px) {
  h2 {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  section {

    >div {
      grid-template-columns: repeat(auto-fit, minmax(120px, auto));
      margin-top: 30px;
      gap: 25px;
      padding: 0 30px 0px 45px;
    }
  }

  .arrow_responsive {
    display: flex;
    justify-content: center;

    >img {
      display: flex !important;
      width: 15px;
      height: 40px;


    }
  }

  .img-hover-text .hover-text {
    display: none;
  }

  .always-visible-text {
    display: block !important;
    margin-top: 20px;
    color: #02F4BF;
    font-family: 'RobotMonoMedium';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .button_bottom {
    display: flex !important;
    justify-content: center;
  }
}


@media (max-width: 700px) {
  img[alt="Angular"] {
    content: url("../../../assets/logos/responsive/Angular_mobile.png");
  }

  img[alt="TypeScript"] {
    content: url("../../../assets/logos/responsive/TypeScript_mobile.png");
  }

  img[alt="JavaScript"] {
    content: url("../../../assets/logos/responsive/JavaScript_mobile.png");
  }

  img[alt="HTML"] {
    content: url("../../../assets/logos/responsive/HTML_mobile.png");
  }

  img[alt="CSS"] {
    content: url("../../../assets/logos/responsive/CSS_mobile.png");
  }

  img[alt="API"] {
    content: url("../../../assets/logos/responsive/API_mobile.png");
  }

  img[alt="Firebase"] {
    content: url("../../../assets/logos/responsive/Firebase_mobile.png");
  }

  img[alt="Git"] {
    content: url("../../../assets/logos/responsive/Git_mobile.png");
  }

  img[alt="Scrum"] {
    content: url("../../../assets/logos/responsive/Scrum_mobile.png");
  }

  img[alt="MaterialDesign"] {
    content: url("../../../assets/logos/responsive/Material_Design_mobile.png");
  }

  img[alt="Challenge"] {
    content: url("../../../assets/logos/responsive/Challenge\ me\ icon\ +arrow.png");
  }

  .challenge {
    max-width: none;
    width: 150px;
    height: auto;
  }
}



@media (max-width: 500px) {
  h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;

  }

  section {
    >div {
      grid-template-columns: repeat(auto-fit, minmax(75px, auto));
    }
  }

.tech-content {
  >img {
  width: 50px !important;  }
}


  img {
    max-width: 40px;
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: block;
  }


  .material_design {
    width: 40px !important;
    height: 45px !important;
  }

  .always-visible-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;

  }
}