@media (max-width: 800px) {
    footer {
        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .icons_footer {
            order: 1;
        }

        .second_container {
            order: 3;
        }
    }

    .second_container {
        div {
            flex-direction: column;
            align-items: center;
            gap: 0;
            margin-top: 30px;

            >a {
                margin-top: 10px;
            }
        }
    }

    .logo {
        margin-top: 40px;
        order: 2;
        background-image: url('../../../assets/logos/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
    }
}