<footer>
    <div>

        <div>
            <img class="logo" src="../../../assets/logos/Logo footer.png" alt="Logo">
        </div>


        <div class="second_container">
            <span> © Oliver Plit 2025</span>
            <div>
<a (click)="goTo('legal-notice')">Legal Notice</a>
                <a (click)="goTo('privacy-policy')">privacy policy</a>
            </div>
        </div>
        <div class="icons_footer">
            <img src="../../../assets/icons/Github.png" alt="">
            <img src="../../../assets/icons/contact.png" alt="">
            <img src="../../../assets/icons/LinkedIn.png" alt="">
        </div>
    </div>



</footer>