footer {
    display: flex;

  background: linear-gradient(to bottom, #190a60, #1d0d6f);
    height: 196px;
    gap: 16px;
    padding-top: 70px;
    padding-bottom: 65px;
    align-items: center;

    >div {
        width: 1350px;
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    width: 129px;
    height: 81px;
    padding-left: 130px;



}


.second_container {
    font-family: 'RobotMonoMedium';
    color: #E15544;
    display: flex;
    align-items: center;
    flex-direction: column;

    >span {

        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    >div {
        display: flex;
        gap: 25px;

        >a {
            margin-top: 30px;
            text-decoration: none;
            color: #E15544;
        }
    }
}

.icons_footer {
    

    >img {
        width: 30px;
        height: 30px;
padding-right: 35px;

    }
}