



h4 {
    font-family: 'RobotMonoMedium';
    color: #E15544;
    font-size: 24px;
    font-style: bold;

}

.font_text {
    color: #02F4BF;
    font-family: 'RobotMonoMedium';


}


img {
    width: 55px;
    height: 97px;
    opacity: 1;
    border-width: 3px;
margin-top: 50px;


}

section {
    background: linear-gradient(to bottom, #0d0536, #120848);
    height: 307px;
    opacity: 1;
padding-left: 165px;
    padding-bottom: 150px;
     

    >div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 1103px;
        height: 246px;
        opacity: 1;
        gap: 32px;
    }
}

.container_recension {
    width: 297px;
    height: 246px;

    gap: 32px;

    >div {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}