<section>
  <div class="header">
    <h4 [innerHTML]="t('HEADER')"></h4>

  </div>
  

  <div class="feedback-wrapper">
    <img class="arrow" src="../../assets/arrows/arrow_working.png" alt="">
    <div class="feedback-container">
      <div class="container_recension" *ngFor="let feedback of feedbacks;">
        <div>
          <h4>{{feedback.name}}</h4>
          <span class="font_text">Project {{feedback.project}}</span>
        </div>
        <p class="font_text">{{feedback.description}}</p>
      </div>
    </div>
  </div>
</section>
