<section>
<h4>Need a team player ? Here is what my colleagues said about me</h4>
<img src="../../assets/arrows/arrow_curve_down.png" alt="">
<div>
    <h4>Eric Braun</h4>
    <span>Join</span>
    <span>Oliver war im Team eine starke Unterstützung – sehr hilfsbereit, zuverlässig und mit vielen kreativen Ideen. Seine Beiträge haben das Projekt nicht nur vorangebracht, sondern auch bereichert. Die Zusammenarbeit mit ihm war durchweg positiv und hat richtig Spaß gemacht.</span>
</div>

</section>

